
<div class="input-bg profile-element header-element">
<h1 class="welcome-header">{{song.title}}</h1>
</div>

<br><br><br><br>
{{#each songs}}
<h2>
{{this.title.name}}
</h2>
{{/each}}

<h3>
{{song.genre}}
</h3>

<p>
{{song.producer}} <br>
</p>

<p>
{{song.rating}}
</p>

<img src="{{image}}" alt="" style="width: 300px">
<br>
<a href="/songs/{{song._id}}/edit">Edit This Song</a> <br><br>
</ul>


<form action="/songs/{{song._id}}/delete" method="POST">
 <h4>
 <button class="input-bg">Delete This Song</button>
 </h4> 
</form>

<div class="profile-element header-element">

<ul class="page-links">

<br>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/profile">Profile</a><br><br>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/songs">Back to Songs</a><br><br>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/artists">Artists</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/albums">Albums</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/login">Log In</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a class="page-links" href="/register">Sign 
Up</a>
</button>
</h2>
</ul>
</div>