<div class="header-bg">
<h1 class="welcome-header">Welcome to the MusicTopia Song List</h1>

</div>

<h2 class="page-links">
<button class=" header-add add-button page-links input-bg">

<a href="/song-new">Add Song</a>
</button>
</h2>

<br><br><br><br>
{{#each songs}}

<h2>{{this.title}}</h2>
<h4>{{this.genre}}</h4>

{{!-- make dropdown for this --}}
<h3>{{this.producer}}</h3>
{{!-- UNSURE HOW TO SHOW LIST OF SONGS UNDER AN ARTIST --}}

<p>{{this.rating}}</p>

<img src="{{this.image}}" style="width: 100px" alt=""><br><br>
<a href="/songs/{{this._id}}/details">More Details</a><br><br>
<a href="/songs/{{this._id}}/edit">Edit This Song</a><br><br>


<h6>
<form action="/songs/{{this._id}}/delete" method="Post">
<button class="input-bg">Delete</button>
</form>
</h6>
{{!-- LOOK OUT FOR DOUBLE DOTS, DETAILS --}}


{{/each}}

<br><br>

<div class="footer-bg">

<h2 class="page-links">
<button class="add-button page-links input-bg">

<a href="/song-new">Add Song</a>
</button>
</h2>

<ul class="page-links">

<a href="/profile">Profile</a><br><br>
<a href="/songs">Back to Songs</a>
<a href="/albums">Albums</a>
<br><br>
<a href="/artists">Artists</a>
<br><br>
<a href="/">Home</a>
</ul>
</div>
{{!-- name sections in input must match below from each model --}}
{{!-- name: String, 
  genre: {type: Schema.Types.ObjectId, ref: 'Artist'},
  songs: [
    {title: String, producer: String, duration: Number, Musician: [String], rating: Number }
  ],
  releaseDate: Date,
  sales: Number,
  rating: Number, --}}