
<div class="header-bg">
<h1 class="welcome-header">Welcome {{user.firstName}} {{user.lastName}}
  AKA {{user.username}}</h1>

</div>

<br><br><br><br><br>

<div class="footer-bg center-content">

  <ul>

<label>Hometown:</label>
{{user.homeTown}}
<br><br>
<label>Favorite Artist:</label>
{{user.favoriteArtist.name}}
<br><br>
<label>Favorite Album:</label>
{{user.favoriteAlbum.title}}
<br><br>
<label>Favorite Song:</label>
{{user.favoriteSong}}
<br><br>
<label>Bio:</label>
{{user.bio}}
{{user.image}}
<br><br>
<label></label>
{{user.createdAt}}


<p>{{user.username}}'s love of music has no bounds</p>
  </ul>
<br><br>
</div>

<div class="footer-bg">

    <ul class="page-links">

    <a href="/profile-edit">Edit Profile</a> <br><br>
    <a href="/artists">Artists</a>
    <br><br>
    <a href="/albums">Albums</a>
    <a href="/songs">Songs</a>
    <a href="/">Home</a>
    </ul>
    <h2 class="page-links">
<button class="add-button page-links input-bg">

<a href="/logout">Log Out</a>
</button>
</h2>
</div>
