
<div class="header-bg">
<h1 class="welcome-header">Welcome {{user.firstName}} {{user.lastName}}
  AKA {{user.username}}</h1>

</div>

<br><br><br><br><br>

<div class="center-content">

{{user.homeTown}}
{{user.favoriteArtist}}
{{user.favoriteAlbum}}
{{user.favoriteSong}}
{{user.image}}
<br><br>
{{user.bio}}
{{user.createdAt}}


<p>{{user.username}}'s love of music has no bounds</p>
<br><br>
</div>

<div class="footer-bg">

    <ul class="page-links">

    <a href="/profile-edit">Edit Profile</a> <br><br>
    <a href="/artists">Artists</a>
    <br><br>
    <a href="/albums">Albums</a>
    <br><br>
    <a href="/">Home</a>
    <br><br>
    </ul>
    <ul class="page-links">
    <a href="/logout">Logout</a>
    </ul>
</div>
