{{!-- how do we make it easy for the user to submit a post request? --}}
{{!-- how do we control the post request? --}}
<div class="header-bg">
<h1 class="welcome-header">Edit {{user.username}}</h1>
</div>
<br><br><br><br><br>


<form action="/profile/{{user._id}}/profile-edit" method="POST">
{{!-- by putting method = post, we make it so when the user clicks the button on the bottom, it'll submit a post request to whichever url we put in the action property. --}}
<ul class="edit-content">

<label>First Name: </label>
<input class="input-bg" type="text" name="firstName" value="{{user.firstName}}">
{{!-- each input controls what the user is allowed inside the post request. the name attribute adds the info INTO REQ.BODY on the routes page and the name of the key in req.body, will be whatever the name is. --}}


<label>Last Name: </label>
<input class="input-bg" type="text" name="lastName" value="{{user.lastName}}">
{{!-- if req.body doesn't connect correctly, check that names are correctly matching the model page, and that a post request was sent rather than a get request. --}}

<label>Bio: </label>
<textarea class="input-bg" name="bio" cols="30" rows="10" value="{{user.bio}}"></textarea>

<label>Hometown: </label>
<input class="input-bg" type="text" name="homeTown" value="{{user.homeTown}}">


<label>Favorite Artist: </label>
<select class="input-bg" name="favoriteArtist" id="">
{{#each artists}}

<option value="{{this._id}}">{{this.name}}
</option>
{{/each}}
</select>


<label>Favorite Album: </label>
<select class="input-bg" name="favoriteAlbum" id="">
{{#each albums}}

<option value="{{this._id}}">{{this.title}}</option>
{{/each}}</select>


<label>Favorite Song: </label>
<input class="input-bg" type="text" name="homeTown" value="{{user.favoriteSong}}">

</ul>

<button class="input-bg">Submit</button>
{{!-- by having a button inside a form, form will automatically submit when you click it, when form submits, it'll make whatever request you put in the method, and requst will be sent to the url put in the action. --}}


</form>

<br>

<div class="footer-bg">

<ul class="page-links">
<a href="/profile">Profile</a>
<br><br>
<a href="/">Home</a>
</ul>
</div>
{{!-- {{user.bio}}

{{user.favoriteArtist}}
{{user.favoriteAlbum}}
{{user.favoriteSong}}
{{user.image}}
{{user.createdAt}} --}}