
<div class="header-bg">
<h1 class="welcome-header">Register A New Account</h1>
</div>

<br><br><br><br><br><br><br><br>
<form action="/register" method="POST">
{{!-- name field in inputs are used after req.body in routes files. --}}

<label for="">Username: </label>
<input class="input-bg" type="text" name="username" required>


<label for="">Password: </label>
<input class="input-bg" type="password" name="password" required>
<br>
<br>
<label for="">Confirm Password: </label>
<input class="input-bg" type="password" name="confirmPassword" required>


<label for="">First Name: </label>
<input class="input-bg" type="text" name="firstName">

<br>
<label for="">Last Name: </label>
<input class="input-bg" type="text" name="lastName">


<label for="">Bio: </label>
<textarea class="input-bg" name="bio" id="" cols="30" rows="10" value="A few sentences... "></textarea>


<label for="">Favorite Artist: </label>
<select class="input-bg" name="" id="">
{{#each artists}}

<option class="input-bg" value="{{this._id}}">{{this.name}}</option>

{{/each}}</select>


<label for="">Favorite Album: </label>
<select class="input-bg" name="" id="">
{{#each albums}}

<option class="input-bg" value="{{this._id}}">{{this.title}}</option>

{{/each}}</select>

<label for="">Favorite Song: </label>
<select class="input-bg" name="" id="">
<option value="{{songs._id}}"></option>
</select>

<label for="">Picture</label>
<input class="input-bg" type="text" name="image">


<label for="">Hometown: </label>
<input class="input-bg" type="text" name="homeTown">

<br><br><br><br>


<button class="input-bg page-links">Create an Account</button>

{{#if message}}

  <p class=" input-bg errorMessage">{{message}}</p>

{{/if}}

<br><br>

<div class="footer-bg">

<ul class="page-links">
<a href="/login">Log In</a>
<br><br>
<a href="/">Home</a>

</ul>
</div>

</form>