
<div class="input-bg profile-element header-element">
<h1 class="welcome-header">Register A New Account</h1>
</div>
<br>
<form action="/register" method="POST">
{{!-- name field in inputs are used after req.body in routes files. --}}

<ul class="signup-boxes">

<li>

<label for="">Username: </label>
<input class="center-content input-bg" type="text" name="username" required>
</li>

<li>
<label for="">Password: </label>
<input class="center-content input-bg" type="password" name="password" required>
</li>
<li>

<label for="">Confirm Password: </label>
<input class="center-content input-bg" type="password" name="confirmPassword" required>
</li>

<br><br><hr>
<li>
<label for="">First Name: </label>
<input class="center-content input-bg" type="text" name="firstName">
</li>
<li>

<label for="">Last Name: </label>
<input class="center-content input-bg" type="text" name="lastName">
</li>

<li>
<label for="">Bio: </label>
<textarea class="center-content input-bg" name="bio" id="" cols="30" rows="10" value="A few sentences... "></textarea>
</li>

<br><br><hr>


<li>
<label for="">Favorite Artist: </label>
<select class=" drop-down page-links add-button center-content input-bg" name="favoriteArtist" id="">
{{#each artists}}

<option class=" center-content input-bg" value="{{this._id}}">{{this.name}}</option>
{{/each}}
</select>
</li>

<li>

<label for="">Favorite Album: </label>
<select class=" drop-down page-links add-button center-content input-bg" name="favoriteAlbum" id="">
{{#each albums}}

<option class="center-content input-bg" value="{{this._id}}">{{this.title}}</option>

{{/each}}</select>
</li>

<li>
<label for="">Favorite Song: </label>
<select class=" drop-down page-links add-button center-content input-bg" name="favoriteSong" id="">
{{#each songs}}

<option class="center-content input-bg" value="{{this._id}}">{{this.title}}</option>

{{/each}}</select>
</li>

<li>

{{!-- <label for="">Picture</label>
<input class="center-content input-bg" type="text" name="image">
</li> --}}

<li>

<label for="">Hometown: </label>
<input class="center-content input-bg" type="text" name="homeTown">
</li>

<br>
</ul>


<button class="center-button add-button input-bg page-links">Create an Account</button>

{{#if message}}

  <p class=" input-bg errorMessage">{{message}}</p>

{{/if}}

<br><br>

<div class="profile-element header-element">

<ul>
<a href="/login">Log In</a>
<br><br>
<a href="/">Home</a>

</ul>
</div>

</form>