<div class="input-bg profile-element header-element">
<h1 class="welcome-header">Welcome to the MusicTopia Album List</h1>

</div>

<h2 class="page-links">
<button class=" header-add add-button page-links input-bg">
<a href="/album-new">Add Album</a>
</button>
</h2>
<br>
{{#each albums}}
<ul class="input-bg page-links">

<h2>{{this.title}}-</h2>
<h2>-{{this.genre}}</h2>
</ul>

{{!-- make dropdown for this --}}
<h3>{{this.songs}}</h3>
{{!-- UNSURE HOW TO SHOW LIST OF SONGS UNDER AN ARTIST --}}

<p>{{this.rating}}</p>

<img src="{{this.image}}" style="width: 100px" alt="">

<ul class="page-links">
<h2 class="page-links">
<button class="page-links input-bg">
<a href="/albums/{{this._id}}/details">Details</a>
</button>
</h2>
</ul>

<ul class="page-links">

<h2 class="page-links">
<button class="page-links input-bg">
<a href="/albums/{{this._id}}/edit">Edit This Album</a>
</button>
</h2>
</ul>

</ul>


<h6>
<form action="/albums/{{this._id}}/delete" method="Post">
<button class="input-bg">Delete</button>
</form>
</h6>
{{!-- LOOK OUT FOR DOUBLE DOTS, DETAILS --}}


{{/each}}

<h2 class="page-links">
<button class="page-links input-bg">

<a href="/album-new">Add Album</a>
</button>
</h2>

<div class="center-menu profile-element header-element">

<ul class="page-links">

<h2 class="page-links">
<button class="page-links input-bg">
<a href="/profile">Profile</a>
</button>
</h2>

<h2 class="page-links">
<button class="page-links input-bg">
<a href="/{{user._id}}/profile-edit">Edit Profile</a>
</button>
</h2>

<h2 class="page-links">
<button class="page-links input-bg">
<a href="/artists">Artists</a>
</button>
</h2>

<h2 class="page-links">
<button class="page-links input-bg">
<a href="/songs">Songs</a>
</button>
</h2>

<h2 class="page-links">
<button class="page-links input-bg">
<a href="/">Home</a>
</button>
</h2>

</ul>
</div>
{{!-- name sections in input must match below from each model --}}
{{!-- name: String, 
  genre: {type: Schema.Types.ObjectId, ref: 'Artist'},
  songs: [
    {title: String, producer: String, duration: Number, Musician: [String], rating: Number }
  ],
  releaseDate: Date,
  sales: Number,
  rating: Number, --}}