<h1>Welcome to MusicTopia Album List</h1>

{{#each albums}}

<h2>{{this.title}}</h2>
<h4>{{this.genre}}</h4>

{{!-- make dropdown for this --}}
<h3>{{this.songs}}</h3>
{{!-- UNSURE HOW TO SHOW LIST OF SONGS UNDER AN ARTIST --}}


<h3>{{this.releaseDate}}</h3>

<p>{{this.sales}} (in millions)</p>

<p>{{this.rating}}</p>

<img src="{{this.image}}" style="width: 100px" alt=""><br><br>
<a href="/albums/{{this._id}}/details">More Details</a><br><br>
<a href="/albums/{{this._id}}/edit">Edit This Album</a><br><br>
<h6>
<form action="/albums/{{this._id}}/delete" method="Post">
<button>Delete</button>
</form>
</h6>
{{!-- LOOK OUT FOR DOUBLE DOTS, DETAILS --}}



{{/each}}
<br><br>
<h2>
<a href="/album-new">Add Album</a>
</h2>

<a href="/profile">Profile</a><br><br>
<a href="/">Main</a>
{{!-- name sections in input must match below from each model --}}
{{!-- name: String, 
  genre: {type: Schema.Types.ObjectId, ref: 'Artist'},
  songs: [
    {title: String, producer: String, duration: Number, Musician: [String], rating: Number }
  ],
  releaseDate: Date,
  sales: Number,
  rating: Number, --}}