
<div class="header-bg">
<h1 class="welcome-header">{{album.title}}</h1>
</div>

<br><br><br><br>
{{#each album.songs}}
<h2>
{{this.title}}
</h2>
{{/each}}

<h3>
{{album.genre}}
</h3>

<p>
{{album.sales}} <br>
(in millions)
</p>

<p>
{{album.rating}}
</p>

<p>

</p>


<img src="{{image}}" alt="" style="width: 300px">

<form action="/albums/{{_id}}/delete" method="POST">
  
 <h4>
 <button class="input-bg">Delete This Album</button>
 </h4> 
  
</form>

<div class="footer-bg">

<ul class="page-links">

<br>
<a href="/profile">Profile</a><br><br>
<a href="/albums">Back to Albums</a><br><br>
<a href="/artists">Artists</a>
<a href="/login">Log In</a>
</ul>
<a class="page-links" href="/register">Sign Up</a>
</div>