<div class="input-bg profile-element header-element">
<h1 class="welcome-header">Welcome to MusicTopia Artist List</h1>
</div>

<br><br><br><br>

<h2 class="page-links">
<button class="add-button page-links input-bg">
<a href="/artist-new">Add Artist</a>
</button>
</h2>


{{#each artists}}
<ul class="input-bg page-links">

<h3>{{this.name}} - </h3> 
<br><br><br>
<h3>{{this.image}}</h3>
<h3>- {{this.hometown}}</h3>
</ul>

<form action="">
{{#each albums}}
<h3>{{this.album}}</h3>
{{/each}}
{{!-- UNSURE HOW TO SHOW LIST OF ALBUMS DROPDOWN UNDER AN ARTIST --}}

</form>


<img src="{{this.image}}" style="width: 100px" alt="">

<ul class="page-links">

<h2 class="page-links">
<button class=" header-add add-button page-links input-bg">
<a href="/artists/{{this._id}}/details">Details</a>
</button>
</h2>

<h2 class="page-links">
<button class=" header-add add-button page-links input-bg">
<a href="/artists/{{this._id}}/edit">Edit This Artist</a>
</button>
</h2>
</ul>

<h6>
<form action="/artists/{{this._id}}/delete" method="Post">
<button class="input-bg">Delete</button>
</form>
</h6>

{{/each}}

<h2 class="page-links">
<button class=" page-links input-bg">

<a href="/artist-new">Add Artist</a>
</button>
</h2>

<div class="profile-element header-element">

<ul class="page-links">

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/profile">Profile</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/{{user._id}}/profile-edit">Edit Profile</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/albums">Albums</a>
</button>
</h2>
<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/songs">Songs</a>
</button>
</h2>

<h2 class="footer-spacing page-links">
<button class="add-button page-links input-bg">
<a href="/">Home</a>
</button>
</h2>

</ul>
</div>
