<div class="header-bg">
<h1 class="welcome-header">Welcome to Our Artist List Page</h1>
</div>

<br><br><br><br>

<div class="content-placing">
{{#each artists}}

<h3>{{this.name}}</h3>
<h3>{{this.genre}}</h3>

<form action="">
{{#each albums}}
<h3>{{this.album}}</h3>
{{/each}}
{{!-- UNSURE HOW TO SHOW LIST OF ALBUMS DROPDOWN UNDER AN ARTIST --}}

</form>



<h3>{{this.hometown}}</h3>

<p>{{this.rating}}</p>

<img src="{{this.image}}" style="width: 100px" alt="">
<a href="/artists/{{this._id}}/details">More Details</a><br><br>
<a href="/artists/{{this._id}}/edit">Edit This Artist</a> <br><br>


{{/each}}

</div>
<br><br><br><br>
<h2>
<a href="/artist-new/">Add Artist</a><br><br>
</h2>
<a href="/profile">Profile</a>
<br><br>
<a href="/profile-edit">Edit Profile</a>
<br><br>
<a href="/albums">Albums</a>
<br><br>
<a href="/">Home</a>
