
<div class="header-bg">
<h1 class="welcome-header">
{{artist.name}}
</h1>
</div>  
<br><br><br><br>
<div class="content-placing">
{{#each artist.album}}
<h2>
{{this.title}}
</h2>
{{/each}}

<h3>
{{artist.genre}}
</h3>

<p>
{{artist.hometown}}
</p>
<p>
{{rating}}
</p>

</div>


<img src="{{image}}" alt="" style="width: 300px">

<form action="/artists/{{_id}}/delete" method="POST">
  
 <h4>
 <button class="input-bg">Delete This Artist</button>
 </h4> 
  
</form>
 
 <div class="footer-bg">

 <ul class="page-links">

<a href="/profile">Profile</a><br><br>
<a href="/artists">Back to Artists</a><br><br>
<a href="/albums">Albums</a>
<a href="/login">Log In</a>
 </ul>
 </div>